---
import AboutPageLayout from "../../layouts/AboutPageLayout.astro";
import PageName from "../../components/PageName/PageName.astro";
import StandartLayout from "../../layouts/StandartLayout.astro";

const res = await fetch(
  `${import.meta.env.PUBLIC_URL}/api/purchases-page?populate=*`
);
const data = await res.json();
const content = await data.data;
---

<StandartLayout title="Государсвенные закупки">
  <PageName title="Государсвенные закупки" />
  <AboutPageLayout>
    <div set:html={content?.content} ></div>
  </AboutPageLayout>
</StandartLayout>