---
import PageName from "../../components/PageName/PageName.astro";
import AboutPageLayout from "../../layouts/AboutPageLayout.astro";
import StandartLayout from "../../layouts/StandartLayout.astro";
---

<StandartLayout title="Прием граждан">
  <PageName title="Прием граждан" />
  <AboutPageLayout>
    <div>
      <p>
        Прием граждан руководителем Оруспай Ю. Д-О. осуществляется еженедельно по
        предварительной записи.
      </p>
      <p>Запись на прием возможно осуществить по телефону: +7(394)225-61-80.</p>
      <p>
        Прием осуществляется по адресу: 667000, Республика Тыва, г. Кызыл, ул. Московская, д. 2а.
      </p>
    
      <div
        class="flex justify-start items-start relative min-h-20 min-w-20 w-96 h-96 max-h-full max-w-full py-3"
      >
      </div>
    </div>
  </AboutPageLayout>
</StandartLayout>


