---
import PageName from "../../components/PageName/PageName.astro";
import AboutPageLayout from "../../layouts/AboutPageLayout.astro";
import StandartLayout from "../../layouts/StandartLayout.astro";
---

<StandartLayout title="Структура">
  <PageName title="Структура" />
  <AboutPageLayout>
    <p>
      Структура Службы Ветеринарии Республики Тыва
      утверждена постановлением Правительства Республики Тыва от ДАТА
    </p>
    <img src="/structure.png" alt={"some"} />
  </AboutPageLayout>
</StandartLayout>
