---
import PageName from "../../components/PageName/PageName.astro";
import CivilservicePageLayout from "../../layouts/CivilservicePageLayout.astro";
import StandartLayout from "../../layouts/StandartLayout.astro";
---

<StandartLayout title="Квалификационные требования к кандидатам на замещение вакантных должностей государственной гражданской службы">
  <PageName
    title="Квалификационные требования к кандидатам на замещение вакантных должностей государственной гражданской службы"
  />
  <CivilservicePageLayout>
    <div class="text-md">«Настоящий раздел находится на стадии разработки»</div>
  </CivilservicePageLayout>
</StandartLayout>
