---
import PageName from "../../components/PageName/PageName.astro";
import CivilservicePageLayout from "../../layouts/CivilservicePageLayout.astro";
import StandartLayout from "../../layouts/StandartLayout.astro";
---

<StandartLayout title="Условия и результаты конкурсов на замещение вакантных должностей государственной гражданской службы">
  <PageName
    title="Условия и результаты конкурсов на замещение вакантных должностей государственной гражданской службы"
  />
  <CivilservicePageLayout>
    <div>«Настоящий раздел находится на стадии разработки»</div>
  </CivilservicePageLayout>
</StandartLayout>
