---
import MobileMenuItem from "../components/MobileMenu/MobileMenuItem";
import MobileMenu from "../components/MobileMenu";
---

<div class="bg-blue-900">
  <div class="container mx-auto">
    <MobileMenu client:load>
      <MobileMenuItem url="/" title="Главная" />
      <MobileMenuItem url="/documents" title="Документы" />
      <MobileMenuItem url="/sendrequest" title="Прием обращений" />
      <MobileMenuItem url="/about" title="О государственном органе" />
      <MobileMenuItem url="/activity" title="Деятельность" />
      <MobileMenuItem url="/press-service" title="Пресс-служба" />
      <MobileMenuItem url="/contacts" title="Контакты" />
    </MobileMenu>
  </div>
</div>

<div class="container mx-auto text-black font-light min-h-[800px] py-3">
  <slot />
</div>
