---
import Header from "../components/Header/Header.astro";
import Footer from "../components/Footer/Footer.astro";

const { title } = Astro.props;
---

<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/tuvan_herb.png" />
    <link rel="stylesheet" href="/styles/globals.css" />
    <meta name="generator" content={Astro.generator} />
    <meta name="yandex-verification" content="2be8d696564350dd" />
    <!-- <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.4/dist/flowbite.min.css" /> -->
    <script src="https://unpkg.com/flowbite@1.5.4/dist/flowbite.js" is:inline
    ></script>
    <title>{title}</title>
  </head>
  <body class="">
    <Header />
    <div class="text-md">
      <slot />
    </div>
    <Footer />
  </body>
</html>
